@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%; }

body {
  position: relative;
  background: url(../newPortal/images/newLogin.png) no-repeat center center;
  background-size: cover;
  min-height: 560px;
  min-width: 500px; }

/*nav*/
nav {
  height: 70px;
  background-color: transparent;
  filter: alpha(opacity=85);
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f4b4c50,endColorstr=#7f4b4c50);*/ }

.logo {
  line-height: 70px;
  padding-left: 40px;
  width: 154px; }

.logo a {
  display: inline-block;
  width: 154px;
  height: 22px; }

.login-title {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  color: #ffffff; }

.line {
  display: inline-block;
  color: #e5e9eb;
  font-weight: normal;
  padding: 0 30px;
  font-size: 16px;
  position: relative;
  top: 0; }

/*表单样式*/
.form-box {
  width: 378px;
  background: #fff;
  margin: auto; }

.form-inner-container {
  margin: 0 40px;
  padding-top: 30px; }

.title {
  margin: 0 auto 30px auto;
  font-size: 20px;
  text-align: center;
  font-weight: bold; }

.warning {
  line-height: 24px;
  padding-left: 10px;
  background: #fbd5db;
  color: #ea2e49; }

.choose-item {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  margin-top: 18px;
  position: relative; }
  .choose-item span {
    height: 40px;
    line-height: 40px;
    margin-left: 6px; }

.choose {
  color: #3995d3;
  float: right; }
  .choose a {
    color: #3995d3;
    cursor: pointer; }

.btn-login {
  width: 100%;
  height: 40px;
  background: #ea2e49;
  border: solid 1px #ea2e49;
  border-radius: 4px;
  color: #fff;
  margin: 20px auto;
  font-size: 16px; }

input[type='checkbox'] {
  display: none; }

input[type='checkbox'] + label {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  color: #525252;
  padding-left: 22px;
  font-weight: normal;
  cursor: pointer;
  background: url(/content/newPortal/images/unchecked-login.png) 0 center no-repeat; }

input[type='checkbox']:checked + label {
  background: url(/content/newPortal/images/checked-login.png) 0 center no-repeat; }

.label-box {
  width: 16px;
  height: 40px;
  float: left;
  margin-right: 18px; }
  .label-box span {
    display: none; }
  .label-box[for="userName"], .label-box[for="uname"] {
    background: url(images/user.png) 0 center no-repeat; }
  .label-box[for="password"], .label-box[for="upassword"] {
    background: url(images/password.png) 0 center no-repeat; }

.v-inline-block {
  display: inline-block;
  vertical-align: middle; }

.w-half {
  width: 50%; }

.container {
  width: auto; }

footer {
  width: 100%;
  padding: 8px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(75, 75, 80, 0.6);
  filter: alpha(opacity=85);
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f4b4c50,endColorstr=#7f4b4c50);*/ }
  footer p {
    font-size: 12px;
    line-height: 14px; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999; }
