.sapi-droplist {
  padding-right: 30px;
  position: relative; }
  .sapi-droplist .select-value {
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    display: block;
    color: #333333;
    cursor: default; }
  .sapi-droplist .del-operator {
    background: url(/content/thjk/images/i-droplist-blur.png) no-repeat center center;
    width: 20px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 2px;
    right: 0;
    cursor: pointer; }
  .sapi-droplist .data-list {
    padding: 5px 0;
    display: none;
    position: absolute;
    background-color: #FFF;
    top: 102%;
    right: 0;
    left: 0;
    border: 1px solid #e8e9eb;
    max-height: 200px;
    *height: 200px;
    overflow: auto;
    z-index: 100;
    color: #333;
    border-radius: 4px; }
  .sapi-droplist .data-list div {
    padding-left: 10px;
    line-height: 28px;
    cursor: pointer;
    vertical-align: middle;
    height: 28px; }
  .sapi-droplist .data-list div:hover {
    background-color: #f5f5f5; }
  .sapi-droplist .data-list .droplist-select {
    background-color: #e7e7e7; }

.droplist-filter {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 165px;
  background: url(../images/bg-oval.png) no-repeat left center; }
  .droplist-filter .select-value {
    padding-left: 15px; }
  .droplist-filter .del-operator {
    width: 30px;
    top: 1px;
    background-image: url(../images/i-droplist-oval.png); }

.tabs-droplist-wrap {
  float: left;
  margin-left: 20px; }
  .tabs-droplist-wrap .tabs-droplist {
    float: left;
    min-width: 90px;
    padding: 0 20px 0 10px;
    position: relative;
    cursor: pointer;
    line-height: 39px;
    border: 1px solid #FFF;
    border-bottom: none;
    margin-right: 10px; }
    .tabs-droplist-wrap .tabs-droplist i {
      position: absolute;
      width: 10px;
      height: 1em;
      top: 15px;
      right: 5px;
      background: url(images/i-filter.png) no-repeat center center; }
  .tabs-droplist-wrap .active {
    border-color: #3995d3;
    z-index: 2;
    background-color: #FFF;
    color: #3995d3; }
    .tabs-droplist-wrap .active i {
      background-image: url(images/i-filter-active.png); }

.tabs-droplist-dialog {
  position: absolute;
  left: -1px;
  right: -1px;
  z-index: 1;
  background-color: #FFF;
  border: 1px solid #3995d3; }
  .tabs-droplist-dialog ul {
    float: left;
    margin: 5px 20px; }
  .tabs-droplist-dialog li {
    min-width: 100px;
    float: left;
    padding: 0 15px;
    line-height: 30px;
    cursor: pointer;
    color: #3995d3; }
    .tabs-droplist-dialog li:hover {
      text-decoration: underline; }
  .tabs-droplist-dialog .subset {
    width: 49.5%;
    position: relative;
    padding-left: 40px; }
    .tabs-droplist-dialog .subset label {
      font-weight: normal;
      cursor: pointer; }
    .tabs-droplist-dialog .subset input {
      vertical-align: middle;
      margin-right: 5px;
      margin-top: 0; }
  .tabs-droplist-dialog .subsetName {
    color: #333;
    font-weight: bold;
    position: absolute;
    top: 8px;
    left: 0; }
  .tabs-droplist-dialog .btn-confirm {
    background-color: #FFF;
    border: 1px solid #3995d3;
    background-image: none;
    line-height: 30px;
    vertical-align: middle;
    padding: 0 15px;
    color: #3995d3; }
    .tabs-droplist-dialog .btn-confirm:hover {
      background-color: #3995d3;
      color: #FFF; }
  .tabs-droplist-dialog .btn-disabled {
    color: #999;
    border: 1px solid #e7ecf1;
    cursor: not-allowed; }
    .tabs-droplist-dialog .btn-disabled:hover {
      color: #999;
      background-color: #FFF;
      border-color: #e7ecf1; }

.tabs-model-address .tabs-nav {
  border-bottom: 1px solid #3995d3;
  float: none;
  margin-top: 15px; }
  .tabs-model-address .tabs-nav li {
    border: 1px solid #ddd;
    display: none;
    text-decoration: none; }
  .tabs-model-address .tabs-nav .active {
    border: 1px solid #3995d3;
    border-bottom-color: #FFF;
    position: relative;
    bottom: -1px; }

.tabs-model-address .tabs-panel {
  display: none; }
  .tabs-model-address .tabs-panel ul {
    padding-bottom: 10px; }

.tabs-model-address .tabs-panel.active {
  display: block;
  margin-bottom: 20px; }
